[submodule "backend"]
	path = backend
	url = https://github.com/6eniu5/sms-selling-agent-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/6eniu5/sms-selling-agent-frontend.git
